
#header{
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
  height: 4rem;
  transition: 1s ease all;
  width: 0%;
  border-bottom: rgba(255, 255, 255, 0.22) 1px solid;
  a{
    transition: .2s ease all;
    color: white;
    text-decoration: none;
  }
  .archer-link:hover{
    font-size:18px;

  }



  a, .icon{
    opacity: 0;

  }

}
body, html{
  background: black;
  overflow-x: clip ;
}
