:root{
  --color-blue: #802bff;
  --color-blue-pastel: #b683ff;
  --darks-color:#090909;
}




.light-block{

  box-shadow:  1px -33px 50rem rgba(128, 128, 128, 0.1);

}
footer{
  position: relative;
  bottom: 0;
z-index: 30 !important;
}

body,html{
  scroll-behavior: smooth;
  background-color: black !important;
  overflow-x: clip;
  height: max-content;
}


.noisy {
  background-image:  url("../public/img-noise-361x370.png") !important;
}

body {

  position: relative; /* Добавлено */

  scroll-behavior: smooth;

  background-color: black !important;

  overflow-x: clip;

}


body::before {

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-position: top;

  z-index: 1; /* Убедитесь, что z-index меньше */

  background-image: url("../public/img-noise-361x370.png") !important;

}


main {
  position: relative;
  height: max-content;
  z-index: 12; /* Убедитесь, что z-index больше */

  filter: brightness(1);

}
